<app-post-headling></app-post-headling>
<div class="post-list-container">
  <div class="row">
    <div class="col-md-12">
      <div class="post-item-container">
        <div class="row">
          <div class="col-md-2">
            <img src="assets/imgs/2.jpg" alt="..." class="img-thumbnail">
          </div>
          <div class="col-md-10 post-item-text-container">
            <h3>
              <a>11</a>
            </h3>
            <div class="user-name-intitle">
              <div class="row">
                <div class="col-md-2">
                  <span class="fa fa-user"></span>
                  <span>22</span>
                </div>
                <div class="col-md-3">
                  <span class="fa fa-clock-o"></span>
                  <span>33</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
