<div class="user-register-container" [@fadeIn]>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{'userSignUp.userSignUp' | translate}}</h3>
    </div>
    <div class="panel-body">
      <form [formGroup]="userForm" (ngSubmit)="doRegister()" class="form-horizontal" role="form" novalidate>
        <div class="form-group" [ngClass]="{'has-error': formErrors.email }">
          <label class="col-md-3 control-label">{{'userSignUp.email' | translate}}</label>
          <div class="col-md-8">
            <input formControlName="email" type="email" class="form-control"
                   placeholder="{{'userSignUp.email-placeholder' | translate}}">
            <div *ngIf="formErrors.email" class="text-danger">
              {{ formErrors.email }}
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
